/*****************************************************
* CSS Mockup Activity - Custom CSS Stylesheet
* @author rlewis37
*
* Some rules have been included here to give you a head start.
* Create your own custom CSS rules below. Have fun!
******************************************************/
html, body {
	margin: 0;
	box-sizing: border-box;
}

.container {
	/*! display: inline-block; */
	margin: 0 auto;
	padding: 0 2rem;
}

.clearfix {
	clear: both;
}

/* create a responsive container */
@media only screen and (min-width: 1200px) {
	.container { width: 1170px; }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.container { width: 970px; }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.container { width: 750px; }
}

/*****************************************************
* Flexbox Sticky Footer
* http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
******************************************************/

/*corrects IE min-height bug*/
html { display: flex;}
body { width: 100%;}

/* .sfooter {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.sfooter-content {
	flex: 1 0 auto;
}
 */
/*****************************************************
* ADD YOUR OWN CSS BELOW! (ﾉ◕ヮ◕)ﾉ*:･ﾟ✧
*
* HINT: You might want to be conversant with the following:
* * Shorthand syntax for padding, margin, and borders
* * Display property and values... and the differences between them.
* * The Box Model
* * Pseudo Classes
* * Attribute Selectors
******************************************************/
/*****************************************************
Font being applied
******************************************************/
@font-face {
	font-family: "Liberation Mono";
	src: url(./LiberationMono-Regular.ttf);
}

.container {
	font-family: "Liberation Mono", Courier, monospace;
}

/*****************************************************
The Heading
******************************************************/
header {
	display: flex;
	display: block;
	color: #00ff00;
	background-color: #333333;
	/* 	display: flex; */
	font-size: 1.rem;
	/* ! align-items: center; */
	/* ! flex-direction: row; */
	/* ! justify-content: space-between; */
	padding-left: 20%;
	padding-right: 20%;
	padding-top: 1%;
	padding-bottom: 1%;
	/* 	margin-right: 50%; */
}

header > .container {
	/* 	display: inline-block; */
	display: flex;
	/* 	flex-direction: row; */
	/* 	margin-bottom: 18px; */
	/* 	margin-right: 9em; */
	font-size: 1.4rem;
	align-items: baseline;
	/*   align-content: flex-start;  */
	justify-content: space-between;
	/* 	padding-right: 50%; */
}
/*****************************************************
Welcome to my homepage image
******************************************************/
section:nth-child(2n) .container > img {
	margin: 7.5% auto 2% 28%;
}
/*****************************************************
Instructions and Janeway Box
******************************************************/
.instructions-wrapper {
	display: flex;
	flex-direction: row;
	width: 100%;
	margin-bottom: 4%;
	border: thick solid black;
	padding: 2.5em;
	text
}

/* Janeway Picture */
.instructions-wrapper > img {
	padding-left: 18em;
	height: 13em;
}
/*****************************************************
Picard about me
******************************************************/
.about-me {
	width: 100%;
	display: flex;
	background-color: #0000ff;
	padding-top: 4rem;
	padding-bottom: 4rem;
	float: left;
}

/* Picard picture */
img[alt*="captain picard"] {
	margin: 0;
	width: 22em;
	height: auto;
	float: left;
	margin-right: 2em;
	border: 3px solid white;
}

.about-me > .container > h2 {
	color: white;
	margin-top: 0%;
}

.about-me > .container > p > span {
	color: #ffe76f;
	font-style: italic;
}

/*****************************************************
Professional Skills Section
******************************************************/
section:nth-child(4n) {
	display: flex;
	text-align: right;
	font-size: 1.5rem;
	width: 100%;
	margin-top: 21em;
}
section:nth-child(4n) table {
	font-size: 1.4rrem;
	color: #0cf200;
	width: 100%;
	float: left;
}

section:nth-child(4n) table th,
section:nth-child(4n) table td {
	padding: 15px;
	border: 2px solid white;
	text-align: left;
	background-color: #333333;
}

/*****************************************************
Contact Me Section
******************************************************/

section:nth-child(5n){
	display: flex;
	flex-direction: column;
	margin-top: 2em;
	background-color: #333333;
	color: #00ff00;
	justify-content: flex-start;
	font-size: 2rem;
	height: 1%;
	width: 100%;
}

.form-wrapper {
	display: block;
	background-color: #006400;
	padding: 3%;
	margin: 4% 0 4% 0;
	width: 100%;
	align-items: center;
}
label {
	display: block;
	margin-top: 1%;
}

button {
	background-color: #00ff00;
}

/*****************************************************
Footer Section
******************************************************/
footer {
	display: flex;
	text-align: center;
	color: white;
	background-color: black;
	padding-bottom: 1em;
	padding-top: 1em;
}